body {
  margin: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
  position: fixed;
  left: 0rem;
  right: 0rem;
  top: 0rem;
  bottom: 0rem;
  overflow-y: auto;
}
.wrapper-home {
  display: grid;
  grid-template-areas:
    "h h h"
    "n m m"
    "n m m";
  grid-template-columns: 0.3fr 2.8fr;
  grid-template-rows: 4rem auto;
  position: relative;
}

.wrapper-likedvideos {
  display: grid;
  grid-template-areas:
    "h h h"
    "n m m"
    "n m m";
  grid-template-columns: 0.2fr 2.8fr;
  grid-template-rows: 2rem auto;
  position: relative;
}

.wrapper-playlist {
  display: grid;
  grid-template-areas:
    "h h h"
    "m m m"
    "m m m";
  grid-template-columns: 0fr 2.8fr;
  /* grid-template-rows: 0.6fr 7fr; */
  grid-template-rows: 2rem auto;
  position: relative;
  overflow-x: auto;
  overflow-x: hidden;
}

.wrapper-history {
  display: grid;
  grid-template-areas:
    "h h h"
    "m m m"
    "m m m";
  grid-template-columns: 0.2fr 2.8fr;
  grid-template-rows: 2rem auto;
  position: relative;
}

.wrapper-landingpage {
  /* background-color: white; */
  /* display: flex;
  flex-direction: column; */
  /* justify-items: start; */

  margin: auto;
  text-align: center;
  grid-template-rows: 1fr 2fr 1fr;
  background-color: aquamarine;
  background-color: black;
}

.header {
  grid-area: h;
  height: 10vh;
  background-color: black;
  margin-bottom: 0 rem;
  box-shadow: 0 4px 8px 0 rgb(90, 87, 87), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  width: 100%;
  height: 4.2rem;
  top: 0%;
  z-index: 1;
}

.main-home {
  grid-area: m;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0rem;
  margin-top: 1rem;
}

.main-likedvideos {
  grid-area: m;
  display: flex;
  flex-wrap: wrap;
  margin: 3rem;
}

.main-history {
  grid-area: m;
  display: flex;
  flex-direction: column;
  /* margin-left: 25%; */
  margin: auto;
  margin-top: 3rem;
  width: 100%;

  /* overflow-x: scroll; */
}

.main-playlist {
  grid-area: m;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 3rem;
}

.video-container {
  padding: 0rem 0rem;
  border: 0.5px solid grey;
  margin: 0.5rem;
  /* width: fit-content; */
  width: 20rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

  /* box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.945); */

  /* position: relative;
  padding-top: 56.25%  */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.LikedHistoryButtons {
  display: flex;
  margin: 1 rem;
  position: absolute;
  right: 2%;
  top: 30%;
}

.alert {
  width: 7rem;
  height: 1rem;
  background-color: white;
  border: 1px rgb(240, 236, 236) solid;
  text-align: center;
  padding: 0.5rem;
  /* margin: 1rem; */
  color: rgb(0, 0, 0);
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.alertText {
  font-size: small;
  font-weight: bold;
}

.pulse {
  background-color: white;
  padding: 0.5rem 1rem;
  font-family: "Times New Roman", Times, serif;
  font-size: medium;
  font-weight: bold;
  border: none;
  width: 20%;
  height: 3.5rem;
  margin: 1rem;
  border-radius: 0.25rem;
}

.pulse:hover,
.pulse:focus {
  animation-name: pulse;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes pulse {
  100% {
    /* box-shadow: inset 0px 0px 0px 20px rgb(251 11 11 / 20%); */
    /* box-shadow: inset 1rem 1rem 0px 20px rgb(0, 0, 0); */
    box-shadow: inset 30rem 0 0 0 rgb(0, 0, 0);
    color: white;
    border: 1px white solid;
  }
}

.landing-logo {
  margin: auto;
  margin-top: 1rem;
  border: 1px white solid;
}

.greeting {
  position: absolute;
  left: 1%;
  top: 40%;
  color: white;
  background: black;
  border: none;
  font-size: 1rem;
  text-decoration: none;
}

@media (max-width: 40em) {
  .greeting {
    display: none;
  }

  .landing-logo {
    width: 50%;
  }

  .pulse {
    width: 70%;
  }

  .hamburger-btn {
    position: absolute;
    right: 5%;
    top: 60%;
    width: 2rem;
    height: 1.7rem;
  }

  .hamburger1 {
    width: 1.7rem;
    border: 1px white solid;
    color: "white";
    position: absolute;
  }

  .hamburger2 {
    width: 1.7rem;
    border: 1px white solid;
    color: "white";
    position: absolute;
    top: 0.5rem;
    left: -0rem;
  }

  .hamburger3 {
    content: "";
    width: 1.7rem;
    border: 1px white solid;
    color: "white";
    position: absolute;
    bottom: 0.5rem;
    left: -0rem;
  }

  .LikedHistoryButtons {
    visibility: hidden;
  }

  .menu-cover {
    position: fixed;
    left: 0rem;
    top: 9vh;
    width: 100vw;
    height: 0vh;
    background-color: rgb(8 7 7 / 89%);
    transition: height 0.5s;
  }

  .logout-btn {
    display: none;
  }

  .wrapper-home {
    grid-template-areas:
      "h h h"
      "m m m"
      "m m m";
  }

  .gicon-style {
    color: white;
  }

  .gicon-style:hover {
    color: #d6e0f1;
  }
}

html {
  min-height: 100vh;
}
